@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Neotech Solustions<br />
        Agdal, Rabat<br />
        <abbr title="Phone">P:</abbr>
        +212611656618
    </address>

    <address>
        <strong>Personnal:</strong>   <a href="mailto:mounya.zekraoui@gmail.com">mounya.zekraoui@gmail.com</a><br />
        <strong>Conpany:</strong> <a href="mailto:mzekraoui@neosys.fr">mzekraoui@neosys.fr</a>
    </address>
</main>