
@model IEnumerable<RestaurantApp.Data.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Restaurant Application</h1>
        <p class="lead">My First Depoloyed VERY SIMPLE ASP .Net Application :D </p>
        <p>
            there are so far @Model.Count() Restaurants in my DataBase :
        </p>
        <ul>
            @foreach (var restaurant in Model) {

            <li>
                @restaurant.Name
            </li>
            }
        </ul>
        
        <p><a href="https://www.youtube.com/channel/UC6UW2BBfFnsppOQMDGBzsSw" class="btn btn-primary btn-md">My Youtube Channel &raquo;</a></p>
    </section>

    
</main>