@model IEnumerable<RestaurantApp.Data.Restaurant>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{ 
    @Html.Partial("_RestaurantSummary", item)
}


@section footer
    {
    <div>Mounya is the prettiest gal evah, PERIOD !</div>
    }
